### Node/Next.js
node_modules/
.next/
.turbo/
.vercel/
.contentlayer/

# Env
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editors/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Build outputs
dist/
build/
coverage/

# Cache
.cache/
.eslintcache
.pnpm-store/

# Misc
*.swp
*.swo

node_modules/
